{% extends "base.html" %}

{% block content %}
<center>
<h1><center>Log in to your Blog!</center></h1>
<p><center>If you don't have an account, you may <a href="/register">register</a> for one</center></p>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="email">Email</label></td>
            <td>
                <input name="email" type="email" align="center" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" align="center" value="Login">
</form>
</center
{% endblock %}